body {
    direction: rtl;
    text-align: right;
    font-family: 'vazir';
}

#mainPage{
    margin-right: 0px;
    transition: 0.5s;
}

span{
    font-size:30px;
    cursor:pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    right: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: orange;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 50px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}