* {
    font-family: 'Vazir';
    font-weight: normal;
    direction: rtl;
    text-align: right;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.divLogin {
    font-size: 1.0em;
    width: 40%;
    height: 400px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #FAFAFC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.radioBtnInput{
    margin: 7px 0px 0px 10px;
}

#loginbtn{
    width: 20%;
    height: 30px;
    text-align: center;
    font-size: 1.0em;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
}

.sidenav {
    height: 1000px;
    width: 170px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
}

.dropdown-btn,
.sidenav a {
    font-size: 120%;
    margin: 0px;
    padding: 10px 6px 6px 10px;
    text-decoration: none;
    color: darkgray;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.sidenav a:hover,
.dropdown-btn:hover {
    color: white;
}

.active {
    background: green;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.dropdown-btn {
    position: relative;         
}

.fa-caret-down {
    position: absolute;
    background-color: inherit;
    left: 8px;
}

.divMain {
    font-size: 1.0em;
    width: 50%;
    height: 850px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #FAFAFC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 1px solid rgb(62, 185, 40); */
}

.divRow {
    width: 100%;
    display: flex;
    background-color: #FAFAFC;
    /* border: 1px solid blue; */
}

.divRowHeader {
    width: 100%;
    background-color: #FAFAFC;
    height: 180px;
    border-radius: inherit;
    text-align: center;
    /* border: 1px solid blue; */
}

.divRow {
    height: 80px;
}

.userBigIcon {
    font-size: 120px;
    margin-top: 20px;
    color: Darkgray;
    background-color: #FAFAFC;
}

.divInsideRowBox {
    flex: 1;
    height: auto;
    background-color: #FAFAFC;
    border-radius: inherit;
    /* border: 1px solid rgb(31, 34, 31); */
}

.divInputBox{
    width: 90%;
    margin: 0% 5%;
    background-color: #FAFAFC;
    /* border: 1px solid rgb(88, 90, 90); */
}

.divInputBox100{
    width: 95%;
    margin: 0% 2.5%;
    background-color: #FAFAFC;
    /* border: 1px solid rgb(88, 90, 90); */
}

.labelType1 {
    font-size: 1.0em;
    color: black;
    background-color: inherit;
}

.divIcon {
    font-size: 1.0em;
    width: 15%;
    float: right;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px 8px;
    border: 1px solid #D4D9DE;
    background-color: rgb(236, 234, 234);
    text-align: center;
    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.fas, .far{
    background-color: inherit;
}

.inputTextRtl,
.inputTextLtr,
.inputTextAreaRtl,
.inputTextAreaLtr,
.inputTextRtlIcon,
.inputTextLtrIcon,
.inputSelectRtlIcon,
.inputSelectLtrIcon {
    font-size: 1.0em;
    float: right;
    border-radius: 4px;
    margin-top: 5px;
    padding: 5px 8px;
    border: 1px solid #D4D9DE;
    background-color: rgb(236, 234, 234);
}

.inputSelectRtlIcon,
.inputSelectLtrIcon {
    padding: 4px 8px;
}

.inputTextRtl,
.inputTextLtr {
    width: 100%;
}

.inputTextAreaRtl,
.inputTexAreaLtr {
    width: 100%;
    height: 120px;
}

.inputTextLtrIcon,
.inputTextRtlIcon,
.inputSelectRtlIcon,
.inputSelectLtrIcon {
    width: 85%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inputTextRtl,
.inputTextRtlIcon,
.inputSelectRtlIcon,
.inputTextAreaRtl {
    text-align: right;
}

.inputTextLtr,
.inputTextLtrIcon,
.inputSelectLtrIcon,
.inputTextAreaLtr {
    text-align: left;
}

button {
    margin: 10px;
    padding: 5px 40px;
    font-weight: bold;
}

@media ( max-width: 700px ){
    .main{
        width: 100%;
    }
    
    .labelType1{
        margin-top: 20px;
    }

    .divRow{
        flex-direction: column;
        height: auto;
    }
    
    .divInputBox, .divInputBox100{
        width: 95%;
        margin: 10px 2.5%;
    }

    .sidenav {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: auto;
        position: relative;
        padding-top: 10px;
    }

    .dropdown-btn,
    .sidenav a {
        display: block;
        padding-right: 10px;
    }

}
